<footer role="footer" id="footer">
  <div id="footer-copy-container" class="maxwidthcenter">
    <div id="footer-social">
      <p>FOLLOW US ON <a href="http://twitter.com/subprinter">TWITTER</a></p>
    </div>
    <div id="footer-blog">
      <p>READ ARTICLES ON OUR <a class="red" href="/blog">BLOG</a></p>
      <p class="last-paragraph">SUBPRINT &copy; 2013 </p>
    </div>
  </div>
</footer>