@font-face
	font-family 'Blowfish'
	src url('/font/web/271C1D_0_0.eot')
	src url('/font/web/271C1D_0_0.eot?#iefix') format('embedded-opentype'),
			url('/font/web/271C1D_0_0.woff') format('woff'),
			url('/font/web/271C1D_0_0.ttf') format('truetype')
	font-weight normal
	font-style normal



